fastapi
typing-extensions
fastapi[standard]
PyJWT
passlib[bcrypt]
python-dotenv
sqlalchemy
mysql-connector-python

python-jose[cryptography]
python-multipart
azure-identity
azure-keyvault-secrets

